.container {
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-between;
  margin: 70px 0;
  padding: 0;
}

@media only screen and (min-width: 769px) and (max-width:1024px) {
  .container {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    align-self: center;
    margin: 70px 0;
    padding: 0;
    width: 70%;
  }

}

@media only screen and (min-width: 1025px) {
   .container {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    align-self: center;
    margin: 70px 0;
    padding: 0;
    width: 70%;
  }
}