.price-section {
  padding: 200px 154px 130px 154px;
}

.price-section-title-container {
  margin-bottom: 150px;
}

.title-countdown {
  color: #AD8957;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-self: center;
  margin-top: 40px;
  margin-bottom: -40px;
}

.title-countdown > p {
  margin: 0 10px;
  font-size: 14px;
}

.discount-percent {
  color: #AD8957;
}

.price-section-title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 65px;
  font-family: "Cormorant Garamond", serif;
  color: #AD8957;


}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px 0;
}

.price-section-title-container {
  padding: 0 60px;
}


@media only screen and (max-width: 1024px) {
  .price-section {
    padding: 200px 20px 130px 20px;
  }

  .price-section-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: -90px;
    font-weight: 600;
  }

  .cards-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1500px) {
  .price-section {
    padding: 200px 0 130px 0;
  }
}