.footer-container {
  background-color: #222222;
  display: flex;
  flex:1;
  flex-direction: row;
  align-items:end;
  align-content: baseline;
  padding: 24px;
  border-top: 1px solid rgba(40, 40, 40, .2);
  justify-content: space-between;
}

.footer-container > div > p {
  font-size: 12px;
  color: #A8ACAD;
  text-align: start;
  padding: 0;
  margin: 0;
}

.footer-container > div > p > a {
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

@media only screen and (min-width: 1024px) {
  .footer-container {
    padding: 32px 8%;
  }
  
  
  .footer-container > div > p {
    font-size: 12px;
    color: #A8ACAD;
    text-align: start;
    padding: 0;
    margin: 0;
  }

  .footer-container > div > p > a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1441px) {
  .footer-container {
    justify-content: center;
    flex:1;
  }
} 