.avatar-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.avatar-details-container {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}