.hero-main-container {
  overflow: hidden;
  height: 100vh;
  background-color:#101010;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0px;
  padding-left: 33px;
  padding-right: 33px;
  /* padding-bottom: 30px; */
  text-align: center;
  align-items: center;
  position: relative;
}

.hero-sub-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-main-title, .hero-sub-title {
  color: #FFF;
}

.infoText {
  text-align: start;
}

.heroAboutMe {
  text-align: right;
}


@media only screen and (min-width: 300px) and (max-width: 678px) {
  .hero-main-container {
    overflow: hidden;
    /* height: 100vh; */
    height: 100vh;
    /* background-color: #FAF8F4; */
    background-image: url('../../../assets/weddingCamera/hero-image-phone.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    /* padding-bottom: 30px; */
    text-align: start;
    align-items: center;
  }


  .hero-content-container {
    margin-top: 15%;
  }

   .heroBtnsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .heroAboutMe {
    text-align: right;
  }
}

@media only screen and (min-width: 670px) and (max-width: 1024px) {
  .hero-main-container {
    overflow: hidden;
    justify-content: center;
    align-items: start;
    /* background-color: #FAF8F4; */
    background-image: url('../../../assets/weddingCamera/hero-image-tablet.png');
    background-size: cover;
  }

  .hero-content-container {
    width: 80%;
    margin-top: -15%;

  }


   .hero-reviews-container { 
    right: 10%;
  
  }

  .infoText {
    margin-bottom: 24px;
  }

  .heroBtnsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
  }

  .heroAboutMe {
    position: absolute;
    bottom: 15%;
    right: 24px;
    width: 80%;
    text-align: right;
  }
 
}

@media only screen and (min-width: 1024px) {
  .hero-main-container {
    flex-direction: row;
    padding-left:  8%;
    padding-right: 8%;
    align-items: center;
  }
  
  .hero-content-container {
    width: 80%;
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .hero-main-container {
    background-image: url('../../../assets/weddingCamera/hero-image-laptop.png');
    background-size: cover;
  }

  .hero-content-container {
    width: 80%;
  }
  
  .infoText {
    margin-bottom: 24px;
  }

  .heroBtnsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
  }


  .heroAboutMe {
    position: absolute;
    bottom: 10%;
    right: 8%;
    width: 40%;
  }
  
}


@media only screen and (min-width: 1441px) {
  .hero-main-container {
    background-image: url('../../../assets/weddingCamera/hero-image-laptop.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 10%;
  }

  .infoText {
    margin-bottom: 24px;
  }

  .heroBtnsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
  }

  .heroAboutMe {
    position: absolute;
    bottom: 0;
    right: 8%;
    width: 40%;
    text-align: right;
  }
}
