.wedding-table {
  margin-top: 20px;
}

.wedding-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-wedding-modal, .edit-wedding-modal {
  padding-top: 5%;
}
