.accordion-item {
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Shadow color */
  border-radius: 30px !important; /* Optional: to make the corners rounded */
  padding: 30px 40px 20px 40px;
  background-color: #FFF;
  min-width: 100%;
  overflow: visible;
}

.accordion-title {
  /* padding: 10px; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.accordion-content {
  /* padding: 10px; */
  background-color: white;
  display: block;
}

.accordion-title h3 {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #282828;
}

.accordion-content p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-item.open .accordion-content {
  max-height: 200px; /* Adjust based on your content */
}

 .accordion-item {
    margin-bottom: 24px; 
  }

  .accordion-title > h3 {
    flex: 0.9;
  }

  .svg-arrow {
    flex: 0.1;
  }


@media only screen and (max-width: 1024px) and (min-width: 679px) {
  .accordion-item {
    margin-bottom: 24px;
  }
}