.contactUsContainer {
  background-color: #101010;
}

.title { 
  margin-bottom: 70px;
}


@media only screen and (min-width: 1025px) {
  .contactUsContainer {
    padding: 112px 8%;
    gap: 120px;
    flex-direction: row !important;
  }

  .title {
    margin-bottom: 70px;
  }

  .sendBtnContainer {
    max-width: 20vw;
    display: flex;
    flex-direction: row;
  }

}